@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.active.entypo-chart-line:before {
    color: white;
    position: absolute;
    margin-left: 18px;
    margin-top: 15px;
}
.entypo-chart-line:before {
    position: absolute;
    margin-left: 18px;
    margin-top: 15px;
}
.entypo-users:before {
    position: absolute;
    margin-left: 18px;
    margin-top: 15px;
}
.active.entypo-users:before {
    color: white;
    position: absolute;
    margin-left: 18px;
    margin-top: 15px;
}
.entypo-plus-squared:before {
    position: absolute;
    margin-left: 18px;
    margin-top: 15px;
}
.active.entypo-plus-squared:before {
    color: white;
    position: absolute;
    margin-left: 18px;
    margin-top: 15px;
}
.tabs.vertical dd > a { padding-left: 2.8em; }
.off-canvas-wrap, .off-canvas-wrap .inner-wrap, .main-section { height: 100%; }
#fitness-manager-logo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    padding: 5px;
    background: #414A49;
    color: white;
    box-shadow: 0 3px 11px 0px rgba(0,0,0,0.2);
    font-size: 0.8em;
}
#fitness-manager-logo > a > img {
    margin-top: 5px;
}
#sidebar {
    height: 100%;
    background: #efefef;
}
dl.tabs.vertical dd {
    border-bottom: 1px solid rgb(222, 220, 220);
}
.top-bar .name { width: 390px; }
.top-bar .name-small { width: 416px; }
.top-bar-section ul li > a.button { 
    border-radius: 3px;
    background: #eb9628;
    box-shadow: 0px 4px #C37D23;
    -webkit-transition: box-shadow;
}
.top-bar-section ul li > a.button:hover { 
    background: #DB8D28; 
    box-shadow: 0px 4px #925C18;
}
dd.active a { background: #eb9628 !important; color: white; }
dd.active a:hover { background: #DB8D28; }
.tabs-content.vertical {
    padding: 2em 0;
    min-height: 100%;
    overflow-y: scroll;
    margin-bottom: 0;
    box-shadow: 11px 1px 23px 4px rgba(0,0,0,0.5);
}
#calcs .content > p { text-align: center; }
table { width: 100%; }
.header-container { position: absolute; bottom: 5px; width: 100%; margin-left: -1.25rem; }
.panel-text {
    font-weight: 100;
    font-size: 2em;
    text-align: center;
    min-height: 110px;
}
.panel-header {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em !important;
}
#calc-tabs {
    width: 710px;
    margin: 0 auto;
}
// Calc
/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* Better text styling */
    font: bold 14px Arial, sans-serif;
}

/* Finally adding some IE9 fallbacks for gradients to finish things up */

/* A nice BG gradient */
html {
    height: 100%;
    background: white;
    background-size: cover;
}

/* Using box shadows to create 3D effects */
#calculator {
    width: 325px;
    height: auto;    
    margin: 100px auto;
    padding: 20px 20px 9px;
    
    background: #9dd2ea;
    background: linear-gradient(#9dd2ea, #8bceec);
    border-radius: 3px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear {
    float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
    height: 40px;
    width: 212px;
    
    float: right;
    
    padding: 0 10px;
    
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    
    /* Typography */
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;
    
    cursor: pointer;
    
    width: 66px;
    height: 36px;
    
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    
    margin: 0 7px 11px 0;
    
    color: #888;
    line-height: 36px;
    text-align: center;
    
    /* prevent selection of text inside keys */
    user-select: none;
    
    /* Smoothing out hover and active states using css3 transitions */
    transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
    background: #FFF0F5;
    margin-right: 0;
}

.keys span.eval {
    background: #f1ff92;
    box-shadow: 0px 4px #9da853;
    color: #888e5f;
}

.top span.clear {
    background: #ff9fa8;
    box-shadow: 0px 4px #ff7c87;
    color: white;
}

/* Some hover effects */
.keys span:hover {
    background: #9c89f6;
    box-shadow: 0px 4px #6b54d3;
    color: white;
}

.keys span.eval:hover {
    background: #abb850;
    box-shadow: 0px 4px #717a33;
    color: #ffffff;
}

.top span.clear:hover {
    background: #f68991;
    box-shadow: 0px 4px #d3545d;
    color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

.keys span.eval:active {
    box-shadow: 0px 0px #717a33;
    top: 4px;
}

.top span.clear:active {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
}

// one rep max calc
#rep-max {
    background: #efefef;
    position: relative;
}
label {
    font-size: 0.5em;
    font-weight: bold;
    width: 50%;
}
label, input[type="text"] {
    display: block;
}
#lean input[type="text"], #oneRepMax input[type="text"], #bmi input[type="text"], #protein input[type="text"]{
    width: 50%;
}
#lean .button, #lean-form, #oneRepMax .button, #bmi .button, #oneRepMax, #protein-form, #protein-form .button,  #bmi form{
    margin-bottom: 0;
}
#protein, #rep-max, #bmi, #lean {
    border-radius: 3px; 
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
    background: #f9f9f9;
}
#oneRepMax .button, #bmi .button, #protein .button, #lean .button{
    box-shadow: 0px 4px #027DA6;
    -webkit-transition: background box-shadow 0.2s;
    transition: background box-shadow 0.2s;
    width: 50%;
    padding: 7px 0;
}
#oneRepMax .button:hover, #bmi .button:hover, #lean .button:hover, #protein .button:hover{
    box-shadow: 0px 4px #034D65;
}
input[type="submit"] {
    border: 0;
    text-decoration: none;
    color: white;
    width: 
}
#result-large {
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    right: 15%;
    color: #eb9628;
}
#result-medium {
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    right: 9%;
    color: #eb9628;
}
#result-small {
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    right: 10%;
    color: #eb9628;
}
#protein-form #result-small, #protein-form #result-medium, #protein-form #result-large {
    margin-top: -24px;
}

.button-box-shadow {
    box-shadow: 0px 4px #027DA6;
    -webkit-transition: background box-shadow 0.2s;
    transition: background box-shadow 0.2s;
}
.button-box-shadow:hover {
    box-shadow: 0px 4px #034D65;
}